<div style="background-color: rgb(228, 241, 208);">
    <div class="container mt-3">
        <h2>User Login !!</h2>
        <div class="row">

            <form>
                <div class="col-md-4 mt-4">
                    <input type="text" class="form-control" formControlName="name" placeholder="Enter username">

                </div>
                <div class="col-md-4 mt-4">
                    <input type="password" class="form-control" formControlName="name" placeholder="Enter password">
                </div>
                <div class="col-md-4 mt-4">
                    <button class="btn btn-primary" (click)="goToUserDash()">Login</button>
                </div><br>
                <div>
                    <button class="btn btn-primary" (click)="goToSignup()">New user? Click to signup</button>
                </div>

            </form>

        </div>