

 <div style="background-color: rgb(186, 224, 17)" class="row">
    <div class="column">
      <img style="height: 150px;" src="./assets/images/b2.jpg">
      <img style="height: 250px;" src="./assets/images/b3.jpg">
      <img style="height: 150px;" src="./assets/images/b4.jpg">
     
    </div>
    <div class="column">
      <img style="height: 280px;" src="./assets/images/b4.jpg">
      <img style="height: 130px;" src="./assets/images/b8.jpg">
      <img style="height: 220px;" src="./assets/images/b7.jpg">
      
    </div>
    <div class="column">
      <img style="height: 140px;" src="./assets/images/b8.jpg">
      <img style="height: 300px;" src="./assets/images/b1.jpg">
      <img style="height: 180px;" src="./assets/images/b6.jpg">
     
    </div>
    <div class="column">
      <img style="height: 260px;" src="./assets/images/b7.jpg">
      <img style="height: 300px;" src="./assets/images/b5.jpg">
     
    </div>
  </div>
  <div class="footer">
    <p>B115-team1 All Copyright Reserved © 2022</p>
  </div>


