<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>User dashboard</h1>
                    <hr>
                </div>
                <form>
                    <div class="mb-3">
                        <button routerLink="/booking" class="btn btn-secondary">Create Booking</button><br><br>
                        <button routerLink="/viewbicycle" class="btn btn-secondary">View bicycles</button><br><br>
                    </div>
                  </form>
            </div>
        </div>
    </div>
</div>
<div>
</div>

