<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>Admin dashboard</h1>
                    <hr>
                </div>
                <form>
                    <div class="mb-3">
                        <button routerLink="/bookingdetails" class="btn btn-secondary">Booking details</button><br><br>
                        <button routerLink="/addbicycle" class="btn btn-secondary">Add bicycles</button><br><br>
                    </div>
                  </form>
            </div>
        </div>
    </div>
</div>
<div>
</div>


