<div style="background-color: rgb(187, 223, 226);">

<div class="container mt-3">
    <h2>Admin Login !!</h2>
<div class="row">

<form>
    <div class="col-md-4 mt-4">
        <input required type="text" class="form-control" formControlName="name" placeholder="Enter username">
    </div>
    <div class="col-md-4 mt-4">
        <input required type="password" class="form-control" formControlName="name" placeholder="Enter password">
    </div>
    <div class="col-md-4 mt-4">
        <button class="btn btn-primary" (click)="goToAdminDash()">Login</button>
    </div>


</form>

</div>













